<h1><%= @user_info['data']['username'] %> follows:</h1>

<h4>Response count: <%= @response.count %> </h4>

<% @response.each do |info| %>
    <p><b>Username:</b> <%= info['username'] %> || <b>Full_name:</b> <%= info['full_name'] %> || <b>ID:</b> <%= info['id'] %> </p>
<% end %>

<p><%= @response %></p>